.Administration {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 10px;
  @media (orientation: portrait) {
    flex-direction: column;
  }

  .SideBarAdminContent {
    padding: 10px 10px 0 10px;
    margin: 0 auto;
  }
}
