.menuCards {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  grid-area: cards;
  box-shadow: -2px 1px 5px rgb(187, 126, 12);
  overflow-y: auto;
  // width: 100%;
  z-index: 1;
}
h1 {
  color: var(--colorTextOrange);
  text-align: center;
  font-size: 2.5rem;
}
.cardsHeader {
  display: flex;
  justify-content: center;
  align-items: first baseline;
  // align-content: flex-end;
  gap: 50px;
  // margin-bottom: 20px;
}

.view {
  // align-content: center;
  // align-self: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  & img {
    width: 100%;
    height: 100%;
    filter: invert(36%) sepia(85%) saturate(683%) hue-rotate(351deg)
      brightness(93%) contrast(94%);
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}
.cardList {
  height: 50px;
  background-image: none;
}
.cardTable {
  height: 450px;
  background: center / cover;
  background-image: url("../../img/istockphoto1055079680.jpg");
}
.card {
  width: 360px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    box-shadow: 5px 5px 5px rgb(35, 34, 33);
    transition: all 0.3s ease-in-out;
    transform: scale(1.02);
  }

  &__content {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    top: calc(100% - 50px);
    left: 0;
    opacity: 1;
    transition: all 1s ease-in-out;
    overflow-y: none;

    display: flex;
    align-items: top;
    justify-content: center;

    &-inner {
      position: relative;
      display: block;
      height: 80px;
      width: 100%;

      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      justify-content: start;

      transition: all 1s ease-in-out;
    }
  }

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--colorTextOrange);
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin: 10px;
  }

  &__description {
    display: flex;
    flex-flow: column nowrap;
    color: #eee;
  }
}

.card.active {
  height: 450px;
}

.card.active .card__content {
  top: 0;
  background: #000;
  transition: all 1s ease-in-out;
  opacity: 0.9;
  overflow-y: auto;
  height: 450px;
}

.card.active .card__content-inner {
  height: 100%;
  align-items: center;
  justify-content: start;
  transition: all 1s ease-in-out;
}
.ingredients {
  align-self: center;
  margin: 0 auto;
  font-size: 0.9rem;
  width: 100%;
}

.ingredients > li {
  width: 100%;
  align-self: center;
}

.description {
  align-self: center;
  width: 100%;
  margin-bottom: 10px;
}
.is-hover:hover {
  box-shadow: 2px 2px 5px white;
}

hr {
  margin: 0 0 14px 0;
}
li {
  list-style: none;
}
.btn-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.btn-card > button {
  display: block;
}
@media screen and (max-width: 640px) {
  .menuCards {
    border-radius: 20px;
    border-left: none;
    box-shadow: none;
    padding-top: 0;
    // overflow-y: scroll;
    z-index: 1;
  }
  .card {
    border-radius: 20px;
    width: 90vw;
  }
}

// @media screen and (min-width: 640px) {
//   .cards {
//     border-radius: 25px;
//     width: 100%;
//   }
//   .card {
//     border-radius: 25px;
//     width: 320px;
//   }
// }
