.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Забезпечує центрування по вертикалі */
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--colorTextOrangeHover);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin .5s linear  infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
