.categoryList {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 100vh;

  .loaderContainer {
    display: flex;
    width: 100%;
  }

  .searchContainer {
    margin: 30px auto;
  }

  .ul {
    list-style-type: none;
    padding: 0;

    .categoryItem {
      display: flex;
      justify-content: center; // Розташовує елементи по різні боки
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid var(--colorTextOrange);
      width: 100%;
      margin-bottom: 20px;
      .viewCategory {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-size: 16px;
      }

      .editCategory {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .inputEdit {
          background: #302f2f;
          height: 50px;
          width: 100%;
          padding-left: 20px;
          font-size: 14px;
          border: none;
        }

        .inputEdit:focus {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          outline: none;
        }

        .searchSelectEdit {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px auto;
          width: 100%;

          .label {
            width: 100%;
            margin-right: 10px;
          }
        }
      }

      .editCategory input {
        flex-grow: 1;
        padding: 5px;
        margin-right: 10px;
      }

      .button {
        color: var(--colorTextOrange);
        background: var(--black);
        margin: auto 10px;
        padding: 5px 10px;
        cursor: pointer;
        border: none;
      }
      .button:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
      .button:focus {
        outline: none;
      }
      .capitalize {
        text-transform: capitalize;
      }
    }
  }
}
