.searchSelect {
  max-width: 350px;
  box-sizing: border-box;
  background-color: none;
}

.field-search {
  position: relative;
  margin-bottom: 12px;
  border-radius: 1.5em;
  border: 1px solid transparent;
  background-color: transparent;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 1),
    -2px -2px 5px rgba(255, 255, 255, 0.14);
  transition: all 0.3s ease;
}

.input-search {
  background-color: transparent;
}

.input-search:hover {
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 1),
    -3px -3px 5px rgba(255, 255, 255, 0.14);
  transition: all 0.3s;
}

.input-search:focus {
  border: 1px solid transparent;
  box-shadow:
    1px 1px 10px rgba(0, 0, 0, 1),
    -1px -1px 3px rgba(255, 255, 255, 0.3),
    inset 1px 1px 8px rgba(0, 0, 0, 2),
    inset -3px -3px 5px rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}

i {
  color: whitesmoke;
}

.display-none {
  display: none;
}

.icon-select>i {
  margin-top: 10px;
}

.icon-select:hover {
  position: relative;
  cursor: pointer;
  z-index: 22222;
}

option,
select {
  top: 0;
  max-width: 500px;
  border: 1px solid transparent;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 1),
    -2px -2px 5px rgba(255, 255, 255, 0.14);
  transition: all 0.3s ease;
}

.search-select {
  position: absolute;
  z-index: 1000;
}

.del {
position: relative;
right: 10px;
top:50%;
}

.del>.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
}

.del1 {
  display: none;
  /* position: relative; */
}
