.AddPremix {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 300px;
  width: 100%;
  min-width: 350px;
  margin-bottom: 100vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1),
    -2px -2px 5px rgba(255, 255, 255, 0.14);
  & {
    @media (orientation: portrait) {
      width: 350px;
      max-width: 100vw;
    }

    h2 {
      text-align: center;
      font-size: 2rem;
      color: #e67e22;
    }

    .field {
      width: 100%;
      margin-bottom: 15px;
      min-width: 250px;
      // padding: 20px;


      .label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      .control {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .input,
        .textarea {
          width: 100%;
          padding: 10px;
          color: #ecf0f1;
        }
        .input-name {
          border-radius: 1.5em;
          box-shadow: 2px 1px 5px rgba(0, 0, 0, 1),
            -2px -2px 5px rgba(255, 255, 255, 0.14);
          background-color: transparent;
          height: 40px;
          color: var(--colorTextOrange);
          &:focus {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 1),
              -1px -1px 3px rgba(255, 255, 255, 0.3),
              inset 1px 1px 8px rgba(0, 0, 0, 2),
              inset -3px -3px 5px rgba(255, 255, 255, 0.2);
          }
        }

        .textarea {
          resize: vertical;
          min-height: 100px;

          border-radius: 1.5em;
          box-shadow: 2px 1px 5px rgba(0, 0, 0, 1),
            -2px -2px 5px rgba(255, 255, 255, 0.14);
          background-color: transparent;
          height: 40px;
          color: var(--colorTextOrange);
          &:focus {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 1),
              -1px -1px 3px rgba(255, 255, 255, 0.3),
              inset 1px 1px 8px rgba(0, 0, 0, 2),
              inset -3px -3px 5px rgba(255, 255, 255, 0.2);
          }
        }

        .label-ingredient {
          margin-bottom: 5px;
          display: block;
        }

        .input-edit-premix {
          display: inline-block;
          width: 60px;
          // background-color: rgb(42, 40, 40);
          // color: white;
          // border-radius: 10px;
          // padding: 5px;
        }

        .control-end {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .ingredient-measure {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-right: 10px;
          line-height: 100%;
        }

        .icon-delete-ingredient {
          display: flex;
          flex-direction: row;
          // align-items: center;
          // justify-content: center;
          padding: 2px;
          cursor: pointer;
        }
      }
    }
  }
}
