.nav-buttons {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-self: center;
  font-size: 14px;
  font-weight: bold;
}

.nav-button-link {
  display: block;
  color: var(--colorTextOrange);
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 10px 15px;

  &:hover {
    color: var(--colorTextOrangeHover);
    border-color: var(--colorTextOrangeHover);
  }
}

.nav-button-link-settings {
  display: block;
  color: var(--colorTextOrange);
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 5px 10px;
  transition: .3s;

  &:hover {
    transform: scale(1.2)
  }
}

.has-border {
  /* border: 1px solid var(--colorTextOrange); */
  box-shadow: 0 0 5px .9px var(--colorTextOrange);
}
