.containerStoplist {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.stopList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.stoplistContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-left: -40px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

.btn-x {
  display: block;
  min-width: 30px;
  height: 30px;
  color: red;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 500px;
}
