* {
  --colorTextOrange: #cd8706;
  --colorTextOrangeHover: #f9a407;
  --backgroundNavBar: #292c35;
  --black: #101720;
}

.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content 1fr 25px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.conten {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1600px;
  overflow-y: auto;
  grid-area: content;
  overflow-x: hidden;
}
@media (orientation: portrait) {
  .App {
    grid-template-rows: min-content 1fr 25px;
    .conten {
      width: 100vw;
      height: 100%;
    }
  }
}

.container-input {
  padding: 5px;

  .input-search {
    margin-bottom: 12px;
    border-radius: 1.5em;
    border: 1px solid transparent;
    background-color: transparent;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 1),
      -2px -2px 5px rgba(255, 255, 255, 0.14);
    // min-width: 100%;
    background-color: transparent;
    color: var(--colorTextOrange);
  }

  .input-search::placeholder {
    color: orange;
  }

  .input-search:hover {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 1),
      -3px -3px 5px rgba(255, 255, 255, 0.14);
    transition: all 0.3s;
  }

  .input-search:focus {
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1),
      -1px -1px 3px rgba(255, 255, 255, 0.3), inset 1px 1px 8px rgba(0, 0, 0, 2),
      inset -3px -3px 5px rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
  }
}

.button {
  color: var(--colorTextOrange);
  background: transparent;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1),
    -2px -2px 5px rgba(255, 255, 255, 0.14);
  margin: auto 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
}
.button:hover {
  color: var(--colorTextOrangeHover);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1),
    -3px -3px 5px rgba(255, 255, 255, 0.14);
}
.button:focus {
  outline: none;
}
.capitalize {
  text-transform: capitalize;
}


.login_evgen {
  height: 100vh;
  padding: 100px 0;

}
