* {
  --colorTextOrange: #cd8706;
  --colorTextOrangeHover: #f9a407;
  --backgroundNavBar: #292c35;
  --black: #101720
}

.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content 1fr 25px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.conten {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1600px;
  overflow-y: auto;
  grid-area: content;
  overflow-x: hidden;
}
@media (orientation: portrait) {
  .App {
    grid-template-rows: min-content 1fr 25px;
    .conten {
      width: 100vw;
      height: 100%;
    }
  }
}

