/* Dishes.scss */

/* Контейнер для списку страв */
.dish-list-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 100vh;

}

/* Заголовок */
// h2 {
//   text-align: center;
//   font-size: 28px;
//   margin-bottom: 20px;
//   color: #333;
// }

/* Стилі для таблиці */
.dish-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.dish-table th,
.dish-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.dish-table th {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #333;
}

.dish-table tr:hover {
  background-color: #e0e0e0;
}

.dish-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Стилі для кнопок */
.button {
  // background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

/* Стилі для форми */
form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;

}

form h3 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
}

// form label {
//   display: block;
//   margin-bottom: 10px;
//   font-weight: bold;
// }

// form input[type="text"],
// form input[type="number"] {
//   width: calc(100% - 22px); /* Adjust width to fit padding */
//   padding: 10px;
//   margin-top: 5px;
//   border-radius: 4px;
//   border: 1px solid #ddd;
// }

// form button[type="submit"] {
//   // background-color: #28a745;
// }

// form button[type="button"] {
//   background-color: #dc3545;
// }

// form button[type="submit"]:hover {
//   background-color: #218838;
// }

// form button[type="button"]:hover {
//   background-color: #c82333;
// }

/* Повідомлення про успіх і помилки */
.success-message,
.error-message {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
}
